* {
  text-align: center;
  color: Gray;
  font-family: Helvetica;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header li {
  font-size: 18px;
  color: white;
  list-style: none;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
 h3 {
  font-size: 23px;
  font-weight: bold;
}
.process p {
  font-size: 14px;
}
.fold h3 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color:white;
}
